*~
target/
catalina.home*
.eclipse
.settings/
.idea/
.project
.classpath
.springBeans
*.iml
*.ipr
*.iws
build
node_modules
node
HRDT_LOGS_IS_UNDEFINED/
*/HRDT_LOGS_IS_UNDEFINED/
index.html
!help/index.html
.DS_Store
libs
!hrdt-frontend/src/main/webapp/libs/knockout.validation-custom
!hrdt-frontend/src/main/webapp/libs/moment-locale-empty.js
!hrdt-frontend/src/main/webapp/libs/datepicker-locale-empty.js
!hrdt-frontend/src/main/webapp/libs/numeral-locale-empty.js
!hrdt-frontend/src/main/webapp/libs/select2-locale-empty.js
!hrdt-frontend/src/main/webapp/libs/select-locale-empty.js
!hrdt-frontend/src/main/webapp/libs/knockout-store/knockout-store.js
!help/libs

#Docker files
docker/\.env
docker/.env
db_tmp
.env

obj/
bin/
db-hrdt-ms-hazelcast/hz\.hrdt\.lck

db-hrdt-ms-hazelcast/hz\.hrdt\.log

db-hrdt-ms-hazelcast/hz\.hrdt\.properties

db-hrdt-ms-hazelcast/hz\.hrdt\.script

hrdt-ui-tests/src/ui-tests/cypress/screenshots
hrdt-ui-tests/src/ui-tests/cypress/videos
